
<!-- TODO add correct ng-controller -->
<div class="post" ng-controller="menu">
<!-- TODO always the portion of information to nxt/prv/more !? -->
    <ul ng-repeat="item in news">
       <li>
           <div class="entry">
			  <h2>
                  {{item.text}}
			  </h2>
             <p class="links">
                 <a class="specialeffects" href="{{item.url}}">
                     &nbsp;&nbsp; {{item.urlname}} &nbsp;&nbsp;
                 </a>
             </p>
             <p class="byline">
             </p>
           </div>
       </li>
    </ul>
</div>
