
<div >
   <a href="#/test">{{$data.urlName}}</a>
</div>

<div >
	<ul>
		<li ng-repeat="account in accounts" >
			<a href="{{account.url}}">{{account.name}}</a>
		</li>
	</ul>
</div>

<div>
	Test main: <input type="text" ng-model="name" /> {{name}}
</div>

<div >
	<pre>main: $location.path() = ({{data.location_path}})</pre>
	<pre>main: $location.url() = ({{data.location_url}})</pre>
	<pre>main: $route.current.templateUrl = ({{data.route_current_templateUrl}})</pre>
	<pre>main: $route.current.params = ({{data.route_current_params}})</pre>
	<pre>main: $routeParams = ({{data.routeParams}})</pre>
</div>
