
<div ng-app ng-init="name = 'World'">
    Say hello to: <input type="text" ng-model="name">
    <h1>Hello, {{name}}!</h1>
</div>

<div>
    <div>
        $urlName = ({{urlName}})
    </div>

    <div>
        getName() = ({{getName()}})
    </div>

    <div>
        getNameWith({{getName()}}) = ({{getNameWith(getName())}})
    </div>
    
    <div>
       <a href="#/test">({{urlName}})</a>
    </div>

        <pre>test: $location.path() = ({{location_path}})</pre>
        <pre>test: $location.url() = ({{location_url}})</pre>
        <pre>test: $route.current.params = ({{route_current_params}})</pre>
        
    <div class="container" ng-controller="TextAreaWithLimitCtrl" ng-init="message = ''">
        <span ng-class="{'text-warning' : shouldWarn(), 'text-warning-critical' : shouldWarnCritical()}">
            Remaining: {{remaining()}}
        </span>

        <div class="row">
            <textarea ng-model="message">{{message}}</textarea>
        </div>

        <div class="row">
            <button ng-disabled="!hasValidLength()" ng-click="send()">Send</button>
            <button ng-click="clear()">Clear</button>
        </div>
    </div>
</div>
